#menu-button {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    background: #9b8db1;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.3s;


}

ul li {
    list-style: none;
    color: white;
    padding: 20px 0px 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}
ul li:hover {
    background: rgb(219, 212, 212);
    color: #020105;
}
.content {
    padding: 20px;
    line-height: 25px;
}

label .one {
    position: fixed;
    height: 8px;
    width: 40px;
    top: 10px;
    right: 10px;
    border: 2px solid #020105;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
label .two {
    position: fixed;
    height: 8px;
    width: 40px;
    top: 20px;
    right: 10px;
    border: 2px solid #020105;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

label .three {
    position: fixed;
    height: 8px;
    width: 40px;
    top: 30px;
    right: 10px;
    border: 2px solid #020105;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

#menu-button:checked~ul {
    transform: scale(1);
}
#menu-button:checked~label>.one {
    transform: rotate(45deg) scaleX(.5) translateX(15px);
}

#menu-button:checked~label>.two {
    transform: translate(-7px, 0px);
    background: white;
    z-index: 1;
}

#menu-button:checked~label>.three {
    transform: rotate(-45deg) scaleX(.5) translate(12px, 0px);
}